<div class="form-group" ng-class="{true: 'has-error', false: 'has-success'}[form.email.$error.required || form.email.$invalid || form.email.alreadyUsed]">
  <input class="form-control" type='email' name="email" ng-model='object' placeholder="Email" required>
  <label class="help-block" ng-show="form.email.alreadyUsed">Email já usado.</label>
  <label class="help-block" ng-show="form.email.notPortoSeguroEmail">Só emails da Porto Seguro (@portoseguro.com.br) podem logar no Porto Voluntário.</label>
</div>
