<style>
.modal .modal-dialog {
  width: 1030px;
}
</style>
<div id="termsModal" class="modal-body">

  <p>
  Para fins de adesão ao presente <strong>TERMO DE USO E POLÍTICA DE PRIVACIDADE</strong>, considera-se:
  </p>

  <p>
  <strong>USUÁRIO(S)</strong> – Pessoa(s) física(s) ou jurídica(s) devidamente cadastrada(s) no endereço eletrônico da rede social <strong>ATADOS</strong>, para ter acesso e/ou utilizar as funcionalidades do site <strong>ATADOS</strong>;
  </p>

  <p>
  <strong>ATADOS</strong> - Rede social de divulgação de oportunidades de voluntariado, de projetos beneficentes e afins, que disponibiliza aos <strong>USUÁRIOS</strong> funcionalidades para acesso, uso e compartilhamento das informações divulgadas em sua homepage.
  </p>

  <ol id="termsList">
    <li>
      Apenas tem direito a uso e acesso à rede social <strong>ATADOS</strong> o <strong>USUÁRIO</strong> que seguir corretamente as instruções de cadastro e efetivamente se registrar na rede social, sendo de total responsabilidade do <strong>USUÁRIO</strong> a autenticidade e a constante atualização das informações prestadas.
      <ol>
        <li>
          O fornecimento de informação falsa pelo <strong>USUÁRIO</strong> caracteriza crime de falsidade ideológica, conforme dispõe o art. 299 do Código Penal Brasileiro.
        </li>
      </ol>
    </li>
    <li>
      Os dados de <strong>USUÁRIO</strong> colhidos pelo <strong>ATADOS</strong> serão utilizados apenas e tão somente pelo próprio <strong>ATADOS</strong>, especialmente para fins de desenvolvimento e melhoria dos seus serviços.

      <ol>
        <li>
        O <strong>ATADOS</strong> não divulgará, cederá ou comercializará os dados pessoais dos <strong>USUÁRIOS</strong> que constem nas fichas cadastrais. Exceto informações de email e telefone com as instituições em que o <strong>USUÁRIO</strong> for realizar trabalho voluntário.
        </li>
      </ol>
    </li>
    <li>
      No processo de cadastramento, o USUÁRIO, deverá efetuar a escolha de determinado LOGIN e SENHA, sendo estes elementos necessários para atingir acesso completo aos serviços e funcionalidades do <strong>ATADOS</strong>. O <strong>USUÁRIO</strong> é o único responsável pela senha que escolher e por mantê-la em sigilo.
    </li>
    <li>
      O <strong>ATADOS</strong> poderá divulgar, a qualquer tempo e a qualquer título, as ações de todos os <strong>USUÁRIOS</strong> que constem em áreas abertas e/ou em áreas de uso exclusivo dos <strong>USUÁRIOS</strong>.
    </li>
    <li>
      São de inteira responsabilidade do <strong>USUÁRIO</strong> as informações que venha a publicar na página do <strong>ATADOS</strong>. O <strong>ATADOS</strong>, não se responsabiliza pelo eventual uso, por parte de terceiros, das informações disponibilizadas abertamente pelo USUÁRIO.
    </li>
    <li>
      Ao <strong>ATADOS</strong> faculta-se o uso dos dados cadastrais do <strong>USUÁRIO</strong> para composição de um perfil de <strong>USUÁRIOS</strong>, que será utilizado internamente.
    </li>
    <li>
      O <strong>USUÁRIO</strong> autoriza o uso de sua imagem e som em caráter irrevogável, irretratável e de forma gratuita pelo <strong>ATADOS</strong>.
    </li>
    <li>
      O <strong>ATADOS</strong> constitui meio de divulgação, acesso e compartilhamento de oportunidades de voluntariado e de contribuição a projetos beneficentes, não sendo responsável, por qualquer forma, pela adesão, desenvolvimento e conclusão das atividades, ações sociais e projetos divulgados em sua homepage.
    </li>
    <li>
      As atividades, ações sociais e projetos divulgados em sua homepage devem ser levados a efeito diretamente pelo <strong>USUÁRIO</strong> junto à <strong>ENTIDADE</strong> cadastrada, não sendo de responsabilidade do <strong>ATADOS</strong> eventuais danos pessoais ou materiais, bem como eventual inadimplemento das condições acordadas entre <strong>USUÁRIO</strong> e <strong>ENTIDADE</strong>.
    </li>
    <br>
      <p><strong>Normas de Conduta</strong></p>
    <br>

    <li>
      Fica expressamente proibido ao <strong>USUÁRIO</strong> a utilização do <strong>ATADOS</strong> para qualquer atividade, lícita ou não, que conflite com as Normas de Uso da rede social.
    </li>
    <li>
      Os dados de acesso do <strong>USUÁRIO</strong> à rede <strong>ATADOS</strong> são de uso pessoal, privativo e intransferível, obrigando-se o <strong>USUÁRIO</strong> a não fornecer a terceiros o seu dados de acesso, responsabilizando-se o <strong>USUÁRIO</strong> por qualquer uso indevido de seu cadastro na rede <strong>ATADOS</strong>.
    </li>
    <li>
      Caso o <strong>USUÁRIO</strong> tome conhecimento de uso indevido de seus dados para fins de acesso ao <strong>ATADOS</strong>, tal fato deverá ser reportado imediatamente ao administrador a fim de que sejam tomadas as providências que impeçam o uso não autorizado dos dados do <strong>USUÁRIO</strong> e do <strong>ATADOS</strong>.
    </li>
    <li>
      Ao <strong>USUÁRIO</strong> fica expressamente proibida a realização de mais de um cadastro no <strong>ATADOS</strong>. Por conseguinte, cada <strong>USUÁRIO</strong> será individualmente identificado e terá dados de acesso únicos e exclusivos.
    </li>
    <li>
      Ao utilizar textos, fotografias e outras obras de terceiros, o <strong>USUÁRIO</strong> deve, obrigatoriamente, obter as necessárias licenças de uso de tais obras e, ainda, as autorizações de utilização de imagem de terceiros.
    </li>
    <li>
      Qualquer violação a direitos autorais de terceiros será de inteira responsabilidade do USUÁRIO, estando este sujeito às condições da cláusula de Propriedade Intelectual. O <strong>ATADOS</strong> pode, sem aviso prévio, retirar o conteúdo inserido pelo <strong>USUÁRIO</strong> no portal, que não atender às licenças de uso e direito autoral.
    </li>
    
    <br>
      <p><strong>Do Desligamento do USUÁRIO</strong></p>
    <br>

    <li>
      O <strong>ATADOS</strong> reserva-se ao direito de cancelar o registro e o acesso do <strong>USUÁRIO</strong> ao <strong>ATADOS</strong>, de forma total e/ou parcial, a qualquer tempo, sem que, para tanto, seja necessário prévio aviso ao <strong>USUÁRIO</strong> e/ou qualquer forma de justificativa.
    </li>
    <li>
      A inobservância a qualquer dispositivo do TERMO DE USO DO <strong>ATADOS</strong> ensejará o desligamento imediato do <strong>USUÁRIO</strong> e, via de consequência, o impedimento de acesso ao mesmo.
      Não obstante, o <strong>USUÁRIO</strong> poderá solicitar ao <strong>ATADOS</strong> a reconsideração da decisão de seu desligamento.
      Eventual violação aos dispositivos do TERMO DE USO DO <strong>ATADOS</strong> poderá ser sanada pelo USUÁRIO, a qualquer tempo, podendo o próprio instruir sua solicitação de reconsideração de desligamento com a comprovação de saneamento de pendência ou violação.
      Todavia, caberá ao <strong>ATADOS</strong>, de forma soberana, a seu único e exclusivo critério, , decidir sobre o cancelamento definitivo do acesso do <strong>USUÁRIO</strong> ao <strong>ATADOS</strong> ou, por outro lado, sua readmissão.
      A decisão de readmissão do <strong>USUÁRIO</strong> ao <strong>ATADOS</strong> representará mero ato de liberalidade do <strong>ATADOS</strong>, não representando, em nenhuma hipótese, qualquer alteração nas condições  do TERMO DE USO.
      O <strong>USUÁRIO</strong> poderá realizar, a qualquer tempo, seu desligamento do <strong>ATADOS</strong>.
    </li>

    <br>
      <p><strong>Do Encerramento das Operações do ATADOS</strong></p>
    <br>

    <li>
      O encerramento, definitivo e/ou temporário, das atividades do <strong>ATADOS</strong> não resultará em qualquer obrigação, seja de que natureza for, do <strong>ATADOS</strong> para com o USUÁRIO, inclusive no que diz respeito a comunicação prévia de tal fato, compensação, pagamento e/ou indenização, a qualquer tempo e título.
    </li>
  </ol>
</div>

<div class="modal-footer"><doubt-atados/></div>
