<div id="volunteer-page">
  <div id="volunteer-header" class="row">
    <div class="col-sm-offset-1 col-sm-3" id="volunteer-image">
      <img alt="{{volunteer.slug}}" class="img-responsive" ng-src="{{volunteer.image_url}}"/>
    </div>
    <div class="col-sm-5">
      <h1 id="volunteer-name">{{volunteer.name}}</h1>

      <div class="row" id="volunteer-icons">
        <div class="col-sm-6" ng-if="volunteer.causes">
          <p>Causas</p>
          <div class="img-circle icon-image" ng-repeat="cause in volunteer.causes"> 
            <img alt="{{cause.name}}" tooltip="{{cause.name}}" width="20" height="20" ng-src="{{cause.image}}"/>
          </div>
        </div>
        <div class="col-sm-6" ng-if="volunteer.skills">
          <p>Habilidades</p>
          <div class="img-circle icon-image" ng-repeat="skill in volunteer.skills"> 
            <img alt="{{skill.name}}" tooltip="{{skill.name}}" width="20" height="20" ng-src="{{skill.image}}"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h3>Atos voluntários que participa/participou</h3>
      <project-card ng-repeat="project in volunteer.projects"></project-card>
      <div class="center" ng-show="!volunteer.projects.length" style="margin-bottom: 40px;">Você ainda não participou de nenhum ato. Comece agora!</div>
    </div>
    <div ng-show="volunteer.nonprofits.length" class="col-sm-11 col-sm-offset-1">
      <h3>ONGs em que é/foi voluntário</h3>
      <nonprofit-card ng-repeat="nonprofit in volunteer.nonprofits"></nonprofit-card>
    </div>
  </div>
</div>
