<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-controller="AppCtrl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-controller="AppCtrl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-controller="AppCtrl"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="portoApp" ng-controller="AppCtrl"> <!--<![endif]-->
  <head>
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="site.title">Porto Voluntário</title>
    <meta name="description" content="Porto Voluntário é uma rede de trabalho voluntário, pessoas e ONGs da Porto Seguro.">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="http://www.portovoluntario.com.br/favicon.ico?v=2" />

    <!-- build:css(app) /styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

  </head>
  <body>

    <!--[if lt IE 9]>
      <script type="text/javascript">
        var showBrowserMessage = function() {
          var el = document.getElementById('screenshot')
          el.style.display = 'none';
          el = document.getElementById('message')
          el.style.display = 'block';
        }
        setTimeout(showBrowserMessage, 10000);
      </script>

      <div id="message" style="background: #00AEEF;color: #FFF;width: 5000px;height: 5000px; padding-top: 10%; padding-left: 10%; display: none;">
        <table>
          <tr>
            <td style="font-size: 120px; width: 200px;">:(</td>
            <td style="font-size: 47px; width: 700px;"> Olá! o site da Porto Voluntário não suporta o browser que você está utilizando.</td>
          </tr>
          <tr>
          <td style="font-size: 120px;">:)</td>
          <td style="font-size: 47px;"> Abra o site com <a href="http://www.google.com/intl/pt-BR/chrome/browser/index.html" target="_blank">Chrome</a> ou <a href="http://www.mozilla.org/pt-BR/firefox/new/" target="_blank">Firefox</a> e aproveite!</td>
          </tr>
        </table>
      </div>
      <img id="screenshot" onclick="showBrowserMessage()" alt="Screenshot do Porto Voluntário" width="100%" height="100%" src="http://atadosapp.s3.amazonaws.com/porto/screenshot.png" />
    <![endif]-->

    <div ui-view=""></div>

    <!--[if lt IE 9]>
      <script src="/bower_components/es5-shim/es5-shim.js"></script>
      <script src="/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&language=pt_BR"></script>
    <script src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>

    <!-- build:js(app) /scripts/vendor.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="/bower_components/restangular/dist/restangular.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/toastr/toastr.js"></script>
    <script src="/bower_components/pace/pace.js"></script>
    <script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="/jquery.maskedinput.min.js"></script>
    <script src="/angular-gm.js"></script>
    <script src="/oms.js"></script>
    <!-- endbuild -->


    <script src="/scripts/constants.js"></script>

    <!-- build:js({.tmp,app}) /scripts/scripts.js -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/directives.js"></script>
    <script src="/scripts/filters.js"></script>

    <script src="/scripts/app/AppCtrl.js"></script>
    <script src="/scripts/app/Auth.js"></script>
    <script src="/scripts/app/Cleanup.js"></script>
    <script src="/scripts/app/Cookies.js"></script>
    <script src="/scripts/app/HomeCtrl.js"></script>
    <script src="/scripts/app/TokenCtrl.js"></script>
    <script src="/scripts/app/LandingCtrl.js"></script>
    <script src="/scripts/app/LoginCtrl.js"></script>
    <script src="/scripts/app/Photos.js"></script>
    <script src="/scripts/app/RootCtrl.js"></script>
    <script src="/scripts/app/Site.js"></script>

    <script src="/scripts/nonprofit/Nonprofit.js"></script>
    <script src="/scripts/nonprofit/NonprofitCtrl.js"></script>

    <script src="/scripts/project/Job.js"></script>
    <script src="/scripts/project/Project.js"></script>
    <script src="/scripts/project/ProjectCtrl.js"></script>
    <script src="/scripts/project/ProjectModalCtrl.js"></script>
    <script src="/scripts/project/Work.js"></script>

    <script src="/scripts/search/ExplorerCtrl.js"></script>
    <script src="/scripts/search/Search.js"></script>
    <script src="/scripts/search/SearchCtrl.js"></script>

    <script src="/scripts/volunteer/Volunteer.js"></script>
    <script src="/scripts/volunteer/VolunteerCtrl.js"></script>
    <script src="/scripts/volunteer/VolunteerEditCtrl.js"></script>
    <script src="/scripts/volunteer/VolunteerSignupCtrl.js"></script>
    <!-- endbuild -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35727388-4', 'portovoluntario.com.br');
      ga('send', 'pageview');

    </script>
  </body>
</html>
